amqp
anyjson
Babel
billiard==
celery
Django
django-celery
django-celery-beat
django-celery-results
django-fontawesome-5=
django-phonenumber-field
django-rest-framework
django-timezone-fie
djangorestframework
importlib-metadat
kombu
more-itertools
phonenumberslite
Pillow
pkg-resources
psycopg2
python-crontab
python-dateutil
pytz
PyYAML
redis=
six=
sqlparse
vine
zipp
