<html>
  <head>
    {% block head %}
      <title>Profile</title>
    {% endblock %}
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="../css/mainMenu_user.css"> -->
    <script></script>
  </head>

  <body>
    <header>
    </header>
    <nav>
      <a href="/profile/"> Profile </a>
      <a href="/teams/profile/"> My Team </a>
      <a href="teams.html"> Teams </a>
      <a href="help.html"> Help </a>
      <a href="logout.html"> Log Out </a>
    </nav>
  </body>
  {% block body %}
    <h1>Base</h1>
  {% endblock %}
</html>
