{% extends "main/navbar.html" %}
{% load fontawesome_5 %}
{% load static %}

{% block imports %}
{% fontawesome_5_static %}
{% endblock %}

<body>
    {% block body %}
    <script src="{% static 'js/adminMenu.js' %}"></script>
    {% if users %}
    <br><br>
    <div class="row">
        <div class="col-sm-4 text-center">
            <h1>Users:</h1><br>
            <form class="form-inline d-flex justify-content-center" id="users">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-50 d-flex justify-content-center" id="input_users" type="text" placeholder="Search" aria-label="Search">
            </form>
            <br>
            <ul id="ul_users" class="list-group margin" style="width: 29vw; height: 40vw; overflow: auto;">
                {% for elem in users %}


                <li class="groupList list-group-item" onclick="window.location.href='/users/profile/{{elem.id}}/'">{{elem.first_name}} {{elem.last_name}}


                    {% if elem.isTournamentManager %}
                    Tournament Manager
                    {% else %}
                    {% for team_user in elem.teamuser_set.all %}
                    {% if team_user.isCaptain %}
                    Captain in Team {team_user.team.name}
                    {% else%}
                    Player in Team {team_user.team.name}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <button type="button" id="blacklist" name="button" class="float-right" data-toggle="tooltip" title="Click to Add player to BlackList"><i class="fas fa-ban"></i></button>
                </li>

                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="col-sm-4 text-center">
            <h1>Tournaments:</h1>
            <br>
            <form class="form-inline d-flex justify-content-center" id="tournaments">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id="input_tournaments" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search" aria-label="Search">
            </form>
            <br>
            <ul id="ul_tournaments" class="list-group margin" style="width: 29vw; height: 40vh; overflow: auto;">
                {% for tournament in tournaments %}
                <li class="groupList list-group-item" onclick="window.location.href='/tournaments/{{tournament.id}}/'">{{tournament.name}}</li>
                {% endfor %}
            </ul>
        </div>


        <div class="col-sm-4 text-center">
            <h1>Teams:</h1>
            <br>
            <form class="form-inline d-flex justify-content-center" id="teams">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id="input_teams" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search" aria-label="Search">
            </form>
            <br>
            <ul id="ul_teams" class="list-group margin" style="width: 29vw; height: 60vh; overflow: auto;">
                {% for team in teams %}
                <li class="groupList list-group-item" onclick="window.location.href='/teams/profile/{{team.id}}/'"><a>{{team.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% endblock %}

</body>