{% include 'main/base_auth.html' %}
{% load static %}
{% block title %}Register{% endblock %}

<head>
    <script src="{% static 'js/activateMultipleUsers.js' %}"></script>
</head>
{% block content %}
{% csrf_token %}
<h1>Unactivated Users</h1>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% else %}
{% for user in users %}
{% if user.hierarchy == 0 %}
<h2>{{user.first_name}} {{user.last_name}} -- BANNED</h2>
{% else %}
<h2>{{user.first_name}} {{user.last_name}}</h2>
{% endif %}
<p>
    {% for k,v in user.items %}
    {% ifnotequal k 'first_name' %}
    {% ifnotequal k 'last_name' %}
    | {{k}}: {{v}}
    {% endifnotequal %}
    {% endifnotequal %}
    {% endfor %}|
    <input type="checkbox" id="{{user.id}}"> Activate</input>
</p>
{% endfor %}
<button id="activate_users">ACTIVATE SELECTED USERS</button>
{% endif %}
{% endblock %}