{% extends 'main/navbar.html' %}
{% load static %}
{% block title %}
<title>Calendar</title>
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'CSS/calendar.css' %}">
<div class="clearfix">
    <a class="btn btn-info left" href="?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="?{{ next_month }}"> Next Month </a>
</div>

{% for game in game_list %}
{{ game.title }} - {{ game.start_time|date:"F j, Y" }}
{% endfor %}
{% if messages %}
{% for men in messages %}
<div class="alert alert-danger" role="alert">
    {{men}}
</div>
{% endfor %}
{% endif %}
<div class="card bg-dark" id="cal">
    {{calendar}}
</div>
{% endblock %}