{% extends 'main/navbar.html' %}
{% load static %}

<head>
    <script src="{% static 'js/createTeam.js' %}"></script>

</head>

    {% block body %}
      <div class="row">
        <div class="col"></div>

        <div class="col">
          <h2 class = "text-center">CREATE TEAM</h2>

          <form class="mt-4" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- <input type="text" class="mt-4" name="name" maxlength="512" required id="id_name" placeholder="Name"><br>

            <select name="tournament" class="mt-4" required id="id_tournament">
              <option value="" selected="">Select a tournament</option>
              {% if tournaments %}
                {% for t in tournaments %}

                  <option>{{t.name}}</option>
                {% endfor %}
              {% endif %}
            </select><br>

            <input type="file" class="mt-4" name="teamLogo" accept="image/*" id="id_teamLogo">

            <select name="tactic" class="mt-4" required id="id_tactic">
              <option value="" selected="">Choose a tactic</option>
              {% for t in form.tournaments.items %}
                <option value="">{{t}}</option>
              {% endfor %}
            </select> -->


            <div class="text-center mt-4">
              <button type="submit">Create Team</button>
            </div>

          </form>
        </div>
        <div class="col"></div>
      </div>
    {% endblock %}
