{% extends 'main/navbar.html' %}
{% load static %}

<head>
    <script src="{% static 'js/createTeam.js' %}"></script>

</head>


{% block body %}
<div class="row">
    <div class="col"></div>

    <div class="col">
        <h2 class="text-center">CREATE TEAM</h2>

        <form class="mt-4" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
                <button type="submit">Create Team</button>
            </div>

        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
