{% extends 'main/navbar.html' %}
{% load static %}
<!-- {% block title %}Create Tournament{% endblock %} -->


{% block imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script src="{% static 'js/createTournaments.js' %}"></script>
{% endblock %}
{% block content %}
{% block body %}
<br>
<form method="post" class="text-center m-auto" enctype="multipart/form-data">
    <h1><b>CREATE TOURNAMENT</b></h1>
    {% csrf_token %}

    <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- TEST CAROUSEL -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval=false>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container m-auto text-center align-center">
                    {% for k, v in labels.items %}
                    {% if k == "name" %}
                    <input type="{{v.type}}" class="mt-3 mr-5 w-50 text-center" name="{{k}}" id="{{k}}" required placeholder="{{v.value}}"></input><br>
                    {% elif k == "number_teams" %}
                    <input type="{{v.type}}" class="mt-3 mr-5 w-50 text-center" name="{{k}}" id="{{k}}" required placeholder="{{v.value}}"></input><br>
                    {% elif k == "number_of_hands" %}
                    <input type="{{v.type}}" class="mt-3 mr-5 w-50 text-center" name="{{k}}" id="{{k}}" required placeholder="{{v.value}}"></input>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="container">
                    {% for k, v in labels.items %}
                    {% if k == "fields" %}
                    <br><label for="{{k}}">{{v.value}}:</label><br>
                    <select name="{{k}}" multiple>
                        {% for field in v.choices %}
                        <option value="{{field.id}}">{{field.name}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="container mx-auto text-center justify-content-center">
                    {% for k, v in labels.items %}
                    {% if k == "beginTournament" %}
                    <br><label for="{{k}}" class="mt-5 text-center mx-auto">{{v.value}}:</label><br>
                    <input type="{{v.type}}" class="mt-2 text-center" name="{{k}}" id="{{k}}" required placeholder="{{v.value}}"></input>
                    {% elif k == "endTournament" %}
                    <br><label for="{{k}}" class="mt-5 text-center">{{v.value}}:</label><br>
                    <input type="{{v.type}}" class="mt-2 text-center" name="{{k}}" id="{{k}}" required placeholder="{{v.value}}"></input><br>

                    {% elif k == "game_week_days" %}

                    <label for="{{k}}" class="mt-5">{{v.value}}:</label><br>
                    <fieldset id="{{k}}" name="{{k}}">
                        {% for elem in v.choices %}
                        <input type="{{v.type}}" name="{{elem}}" id="{{elem}}">{{elem}} </input>
                        {% endfor %}
                    </fieldset>


                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">

                <div class="row">
                    <div class="col"></div>
                    <div class="col-2 mx-auto">
                        {% for k, v in labels.items %}

                        {% if k == "days_without_games" %}
                        <br><label for="datepicker" class="mt-2 mr-3">{{v.value}}:</label>

                        <div id="datepicker" class="mt-2" name="datepicker">
                            <input type="text" class="form-control" hidden="true" name="{{k}}">

                        </div>

                        {% endif %}
                        {% endfor %}
                        <!-- <button type="submit" class="mt-2" id="create">Create Tournament</button> -->
                        <button type="submit" class="btn btn-light btn-outline-secondary" id="create">

                            <span id="spinner" class="spinner-border spinner-border-sm" hidden="true"></span>
                            Create Tournament

                        </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</form>


</div>
{% endblock %}
{% endblock %}