{% extends 'main/navbar.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block body %}
  <div class="row">
    <div class="col">
      <!-- home_team logo and name -->
      <p class="text-center">HOME</p>
      <div class="container mx-auto mt-5" style="width: 100px; height:100px;">
        <img src="{{ MEDIA_URL }}/media/{{game.home_team.teamLogo}}" style="width:100%;height:100%;"> <br>
      </div>
      <h2 class="text-center mt-5">{{game.home_team.name}}</h2>
    </div>
    <div class="col-6">
      <!-- game info -->
      {% if result %}
        <div class="container text-center">
          <!-- tournament and logo -->
          <h1>tournament: {{game.tournament.name}}</h1>
          <br>
          <h2>{{game.gameDate}}</h2>
          <br>
          <h3>Field: {{game.field}}</h3>
          <br>
          <h5>cost:{{game.cost}}</h5>
          <br>

        </div>

      {% else %}

      {% endif %}
    </div>
    <div class="col">
      <!-- away_team logo and name -->
      <p class="text-center">AWAY</p>
      <div class="container mx-auto mt-5" style="width: 200px; height:200px;">
        <img src="{{ MEDIA_URL }}/media/{{game.away_team.teamLogo}}" style="width:100%;height:100%;"> <br>
      </div>
      <h2 class="text-center mt-5">{{game.away_team.name}}</h2>

    </div>
  </div>
{% endblock %}
