{% extends 'main/navbar.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<!DOCTYPE html>
<html>
{% block title %}
<title>UniLeague</title>
{% endblock %}

<head>
    <meta charset="utf-8">
</head>

<body>
    {% block body %}
    <script src="{% static 'js/adminMenu.js' %}"></script>

    <h1 class="font-weight-bold text-center">USERS TEAMS</h1>
    <br>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-10 text-center" style=" height: 50vw; overflow: auto;">
            <ul id="users_li" class="list-group margin nav nav-tabs">

                {% if users %}
                {% regroup users by player as user_list %}
                {% for player in user_list %}
                <ul class="groupList list-group-item">{{player.grouper.first_name}} {{player.grouper.last_name}} teams:
                    {% for team_user in player.list %}
                    <a href="/teams/profile/{{team_user.team.id}}/">
                        <li id="userlistDaStuff" class="groupList list-group-item">{{team_user.team.name}}</li>
                    </a>
                    {% endfor %}
                </ul>
                <p></p>
                {% endfor %}
                {% else %}
                <li class="groupList list-group-item">No Teams found</li>

                {% endif %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
    {% endblock %}
</body>

</html>