<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/extraClasses.css">

</head>

<body class="background text-white">
    <header>
    </header>
    <nav></nav>
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
    </form>
<p><a href="/register/">Don't have an account yet?</a></p> -->
    <div class="row">
        <div class="col mt-auto text-center"></div>

        <div class="col-4 m-auto  text-center">
            <div class="container">
                <img src="../static/assets/UniLeague.png" alt="Logo" class="img-fluid m-auto" style="width:auto; height:300px;">
            </div>
            <form method="post" class="m-auto">
                <!-- <div class="container">
            <input type="text" name="username" autofocus required id="id_username" class="form-control m-auto text-center" placeholder="Username">
            <input type="text" name="username" autofocus="" required="" id="id_username">
          </div>
          <p>

          <div class="container">
            <input type="password" name="password" required id="id_password" class="form-control m-auto text-center" placeholder="Password">
            <input type="password" name="password" required="" id="id_password">
          </div> -->


                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <input type="text" name="username" autofocus required id="id_username" class="form-control m-auto text-center" placeholder="Username">
                <input type="password" name="password" required id="id_password" class="form-control mt-3 text-center" placeholder="Password">
                <button type="submit" class="btn btn-dark mt-3 rounded" style="width:350px; height:auto;">Login</button>

            </form>


            <!-- <p>or<p> -->
            <button type="button" onclick="window.location.href='/register'" class="btn btn-dark mt-3 rounded" style="width:350px; height:auto">Register</button>
        </div>

        <div class="col">
            <!-- BACK BUTTON -->
            <!-- <button type="button" class="btn btn-dark btn-lg float-left" style="margin-top:480px; width:100px;height:auto;">Back</button> -->
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>