{% extends 'main/navbar.html' %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">

    <title>MAIN MENU</title>
  </head>
  <body>
    {% block body %}

  {% if user.is_authenticated %}
    <h1 class="font-weight-bold text-center">Welcome {{user.first_name}} {{user.last_name}} </h1>
  {% else %}
  <h1 class="font-weight-bold text-center">Welcome</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6 text-center" >
      <h2 class="text-center">SEARCH FOR TEAMS</h2>
      <input class="form-control-lg margin" type="text" class="" onkeyup="myFunction()" placeholder="Search for teams.." title="Type in a name">
      <br>
      <ul class="list-group margin">
        <li class="groupList list-group-item">Benfica</li>
        <li class="groupList list-group-item">Sporting</li>
        <li class="groupList list-group-item">Porto</li>
        <li class="groupList list-group-item">AAC</li>
        <li class="groupList list-group-item">Braga</li>
      </ul>
    </div>
    <div class="col-sm-6 text-center" >
      <h2 class="text-center">SEARCH FOR TOURNAMENTS</h2>
      <input class="form-control-lg margin" type="text" class="" onkeyup="myFunction()" placeholder="Search for tournaments.." title="Type in a name">
      <ul class="list-group margin">
        <li class="groupList list-group-item">Liga NOS</li>
        <li class="groupList list-group-item">Liga Santander</li>
        <li class="groupList list-group-item">Torneio DEI</li>
      </ul>
    </div>
  </div>
  {% endif %}

    {% endblock %}

  </body>
</html>
