{% extends 'main/navbar.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MAIN MENU</title>
</head>

<body>
    {% block body %}
    <script src="{% static 'js/adminMenu.js' %}"></script>

    {% if user.is_authenticated %}
    <h1 class="font-weight-bold text-center">Welcome {{user.first_name}} {{user.last_name}} </h1>
    {% else %}
    <h1 class="font-weight-bold text-center">Welcome</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <h2 class="text-center">SEARCH FOR TEAMS</h2>
            <form class="form-inline d-flex justify-content-center" id="teams">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id="input_teams" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search" aria-label="Search">
            </form>
            <br>
            {% if teams %}
            <ul id="ul_teams" class="list-group margin">
                {% if teams %}
                {% for team in teams %}
                <a href="/teams/profile/{{team.id}}/">
                    <li class="groupList list-group-item">{{team.name}}</li>
                </a>
                {% endfor %}
                {% else %}
                <li class="groupList list-group-item">No Teams found</li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-sm-6 text-center">
            <h2 class="text-center">SEARCH FOR TOURNAMENTS</h2>
            <form class="form-inline d-flex justify-content-center" id="tournaments">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id="input_tournaments" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search" aria-label="Search">
            </form>
            <br>
            {% if tournaments %}
            <ul id="ul_tournaments" class="list-group margin">
                {% for tournament in tournaments %}
                <li class="groupList list-group-item">{{tournament.name}}</li>
                {% empty %}
                <li class="groupList list-group-item">No Tournaments found</li>

                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% endblock %}
</body>

</html>
