{% extends 'main/navbar.html' %}

{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block imports %}
<script src="{% static 'js/profileTeam.js' %}"></script>
{% endblock %}

{% block body %}
{% csrf_token %}
<h1 id="myTeam" name="{{myTeam.pk}}">Team: {{myTeam.name}}</h1>

<div class="card bg-dark" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-4by3">
        <img id="captainImg" src="{{ MEDIA_URL }}/media/{{myTeam.captain.image}}" class="card-img-top embed-responsive-item" alt="...">
    </div>
    <div class="card-body">
        <p class="card-text">Team Captain: {{myTeam.captain.first_name}} {{myTeam.captain.last_name}} </p>
        <p class="card-text">username: {{myTeam.captain.username}} </p>
        {% if user.pk == myTeam.captain.pk %}
        <select class=" form-control" id="exampleFormControlSelect1">
            {% for player in myTeam.players.all %}
            {% if player.pk == myTeam.captain.pk %}
            <option value="{{player.pk}}" selected="selected">{{player.first_name}} {{player.last_name}} - {{player.username}}</option>
            {% else %}
            <option value="{{player.pk}}">{{player.first_name}} {{player.last_name}} - {{player.username}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <div class=" d-flex justify-content-center">
            <button class="btn btn-light btn-outline-secondary" id="changeCaptain">
                <span id="spinner" class="spinner-border spinner-border-sm" hidden="true"></span>
                Change Captain
            </button>
        </div>
        {% endif %}
    </div>
</div>

<h3 id="numberPlayer">Number of players: {{myTeam.players.all.count}}/{{myTeam.numberPlayers}}</h3>


<div id="playerList">
    <ul id="ul_users" class="list-group margin" style="width: 45vw; height: 20vw; overflow: auto;">
        {% for elem in myTeam.players.all %}
        <li class="groupList list-group-item">{{forloop.counter}} -{{elem.first_name}} {{elem.last_name}} - {{elem.username}}
            {% if user.pk == myTeam.captain.pk and user.isCaptain %}
            <button class="float-right" onclick="console.log('hi');"><i class="fa fa-user-times" aria-hidden="true"></i></button>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>

<p id="tournament">Tournament: {{myTeam.tournament.name}}</p>
<p id="tactic">Tactic: {{myTeam.tactic}}</p>
<img id="teamLogo" src="{{ MEDIA_URL}}/media/{{myTeam.teamLogo}}" alt="">

{% endblock %}