{% extends 'main/navbar.html' %}

{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block body %}
{% csrf_token %}
<h1 id="myProfile" style="text-align: center; margin-bottom: 50px; margin-top: 50px" name="{{user.name}}"> NAME {{user.first_name}} {{user.last_name}} </h1>
<div class="container">
  <div class="row">
    <div class="split left">
      <div class="centered">
        <div class="card bg-dark rounded-lg background-color: #0B0C10;" style="width: 30rem;">
          <div class="embed-responsive embed-responsive-4by3">
              <img id="profileImg" src="{{ MEDIA_URL }}/media/{{user.image}}" class="card-img-top embed-responsive-item" alt="...">
          </div>
          <div class="card-body">
              <p class="card-text">E-mail: {{user.email}}</p>
              <p class="card-text">Budget: {{user.budget}}</p>
              <p class="card-text">Games: {{user.games}}</p>
              <p class="card-text">Goals: {{user.goals}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="split right">
      <div class="centered">
        <ul id="ul" class="list-group">
          {% if user.team_set.all %}
            {% for team in user.team_set.all %}
              <a href="/teams/profile/{{team.id}}/">
                  <li class="groupList list-group-item">{{team.name}}</li>
              </a>
              <a href="/tournaments/profile/{{team.tournament.id}}/">
                  <li class="groupList list-group-item">{{team.tournament.name}}</li>
              </a>
            {% endfor %}
          {% else %}
              <li class="groupList list-group-item">No Teams and Tournaments found</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="split middle">
      <div class="centered">
        <table class="table table-bordered table-striped table-hover" style="margin-top: 50px;">
          <thead class="thead-dark">
            <tr>
              <th>Most recent games:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>TEAM: {{user.team_set.first}}</th>
            </tr>
            <tr>
              <th>TEAM: {{user.team_set.first}}</th>
            </tr>
          </tbody>
        </table>
        <button type="button" onclick="window.location.href='{{request.META.HTTP_REFERER}}'" class="btn btn-dark mt-3 rounded" style="width:350px; height:auto">Back</button>
      </div>

    </div>
  </div>
</div>


<!--
  profile photo
  view team button
  view tournament button
  recent games
-->

{% endblock %}
