{% extends 'main/navbar.html' %}
{% load static %}

{% block body %}
<script src="{% static 'js/tournamentDetails.js' %}"></script>
{% if tournament %}
<h1>Tournament: {{tournament.name}}</h1>
<h1>Manager: {{tournament.tournament_manager}}</h1>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Points</th>
            <th scope="col">Goals Scored</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr class='clickable-row' data-href='/teams/profile/{{team.id}}/'>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{team.name}}</td>
            <td>{{team.points}}</td>
            <td>{{team.goals_scored}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}