.background{
  background-image: radial-gradient(circle, #2ba84a, #2aa145, #299941, #27923c, #268b38, #18823d, #0a7a41, #007143, #006449, #0f564a, #214844, #2d3a3a);
  overflow-x: hidden;
}

.menuButton{
  width: 300px;
  height: 100px;
  font-size: 30px;
}
