.background {
    background-image: url("../assets/background_resize.jpg");
    /* background-image: radial-gradient(circle, #ff785a, #c7576a, #834363, #433146, #191919); */
    overflow-x: hidden;
}

.menuButton {
    width: 300px;
    height: 100px;
    font-size: 30px;
}

.dot {
    height: 28px;
    width: 28px;
    background-color: rgba(253, 184, 39, .9);
    border-radius: 100%;
    display: inline-block;
}

.positionBtn:hover {
    border: 2px solid #4CAF50;
}

.navbar .navbar-collapse {
    text-align: center;
}

.list-group-item.active {
    z-index: 2;
    color:
        #fff;
    background-color:
        rgba(0, 0, 0, 0.3);
    border-color:
        #FFF;
}

.shirt {
    width: 50px;
    height: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.logoNavBar {
    width: 70px;
    height: 70px;
}

.myTeamNav {
    font-size: 20px;
    font-weight: bold;
}

.myTeamNav:hover {
    font-size: 25px;
}

a {
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    font-size: 25px;
}

.groupList {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.list-group-item:active {
    background-color: yellow;
}

.margin {
    margin-bottom: 15px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
}

.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.split {
    height: 100%;
    width: 33%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.middle {
    right: 33%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.rcorners_input {
    border-radius: 25px;
    border: 2px;
    padding: 20px;
    width: 400px;
    height: 15px;
}

#userlistDaStuff:before {
    /* the custom styled bullets */
    background-color: black;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}

.rcorners_btn {
    background-color: rgba(115, 115, 115, 0.48);
    border-radius: 16px;
}

.rcorners_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    /* margin: 0 0 0 25px; */
    width: 200px;
    height: 50px;
    /* padding: 20px; */
}

#timeselector-div {
    background-color: #343940;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 3px;
    color: white;
}
